/* This is the style sheet for the project. */

.side-images {
    margin: .25rem;
}


.nav-font {
    color: skyblue
}

.img-size-main {
    width: 400px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px
}


